<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
  rel="stylesheet"
/>

<div class="todos-wrapper">
  <div class="container">
    <div class="todo-item completed">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">this a text</p>
    </div>
    <div class="todo-item">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima commodi
        porro blanditiis deserunt et placeat fugit quisquam temporibus, pariatur
        assumenda dolores maiores ab quibusdam, itaque fuga reiciendis esse non
        id.
      </p>
    </div>
  </div>
</div>
